*.cache
PremiosInstitucionales/.vs/PremiosInstitucionales/v14/.suo
*.config
PremiosInstitucionales/PremiosInstitucionales/obj/Debug/TempPE/Entities.Models.PremiosInstitucionalesModels.Designer.cs.dll
*.dll
PremiosInstitucionales/PremiosInstitucionales/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.suo
*.cache
PremiosInstitucionales/.vs/PremiosInstitucionales/v14/.suo