*.cache
PremiosInstitucionales/.vs/PremiosInstitucionales/v14/.suo
*.config
PremiosInstitucionales/PremiosInstitucionales/obj/Debug/TempPE/Entities.Models.PremiosInstitucionalesModels.Designer.cs.dll
*.dll
PremiosInstitucionales/PremiosInstitucionales/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
PremiosInstitucionales/.vs/config/applicationhost.config
PremiosInstitucionales/.vs/config/applicationhost.config
PremiosInstitucionales/.vs/PremiosInstitucionales/v14/.suo
PremiosInstitucionales/PremiosInstitucionales/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache