.div-img{
    display: inline-block;
    padding-right: 15px;
    vertical-align:top;
}

.div-bpm{
    display: inline-block;
    vertical-align:top;
}

.bpm-process {
	margin-top:15px;
	margin-bottom:15px;
}

.bpm-process a,
.bpm-process a:visited,
.bpm-process a:hover
 {
	height: 40px;
	cursor: default;
	color: rgb(70, 70, 70);
}

.step {
  margin-top: -2px;
}

.nav-wizard > li {
  float: left;
}
.nav-wizard > li > a {
  position: relative;
  background-color: #eeeeee;
}
.nav-wizard > li > a .badge {
  margin-left: 3px;
  color: #eeeeee;
  background-color: #00acc1;
}

.nav-wizard > li:not(:first-child) > a {
  padding-left: 34px;
}
.nav-wizard > li:not(:first-child) > a:before {
  width: 0px;
  height: 0px;
  border-top: 20px inset transparent;
  border-bottom: 20px inset transparent;
  border-left: 20px solid #ffffff;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
}
.nav-wizard > li:not(:last-child) > a {
  margin-right: 6px;
}
.nav-wizard > li:not(:last-child) > a:after {
  width: 0px;
  height: 0px;
  border-top: 20px inset transparent;
  border-bottom: 20px inset transparent;
  border-left: 20px solid #eeeeee;
  position: absolute;
  content: "";
  top: 0;
  right: -20px;
  z-index: 2;
}
.nav-wizard > li:first-child > a {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.nav-wizard > li:last-child > a {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.nav-wizard > li.done > a {
  background-color: #e2e2e2;
}
.nav-wizard > li.done > a:before {
  border-right-color: #e2e2e2;
}
.nav-wizard > li.done > a:after {
  border-left-color: #e2e2e2;
}
.nav-wizard > li.active > a,
.nav-wizard > li.active > a:focus {
  color: #ffffff;
  font-weight: 900;
  background-color: #00acc1;
}
.nav-wizard > li.active > a:after {
  border-left-color: #00acc1;
}
.nav-wizard > li.active > a .badge {
  color: #00acc1;
  background-color: #ffffff;
}

.aceptado > li.active > a,
.aceptado > li.active > a:focus {
  color: #ffffff;
  background-color: rgb(76, 175, 80);
}
.aceptado > li.active > a:after {
  border-left-color: rgb(76, 175, 80);
}
.aceptado > li.active > a .badge {
  color: rgb(76, 175, 80);
  background-color: #ffffff;
}

.cambios > li.active > a,
.cambios > li.active > a:focus {
  color: #ffffff;
  background-color: rgb(229, 28, 35);
}
.cambios > li.active > a:after {
  border-left-color: rgb(229, 28, 35);
}
.cambios > li.active > a .badge {
  color: rgb(229, 28, 35);
  background-color: #ffffff;
}

.modificada > li.active > a,
.modificada > li.active > a:focus {
  color: #ffffff;
  background-color: rgb(255, 152, 0);
}
.modificada > li.active > a:after {
  border-left-color: rgb(255, 152, 0);
}
.modificada > li.active > a .badge {
  color: rgb(255, 152, 0);
  background-color: #ffffff;
}

.nav-wizard > li.disabled > a {
  color: #777777;
}
.nav-wizard > li.disabled > a:focus {
  color: #777777;
  text-decoration: none;
  background-color: #eeeeee;
  cursor: default;
}
.nav-wizard > li.disabled > a:before {
  border-right-color: #eeeeee;
}
.nav-wizard > li.disabled > a:after {
  border-left-color: #eeeeee;
}
.nav-wizard.nav-justified > li {
  float: none;
}
.nav-wizard.nav-justified > li > a {
  padding: 10px 15px;
}

@media (max-width: 768px) {
  .nav-wizard.nav-justified > li > a {
    border-radius: 4px;
    margin-right: 0;
  }
  .nav-wizard.nav-justified > li > a:before,
  .nav-wizard.nav-justified > li > a:after {
    border: none !important;
  }
}