.blockquote-box {
	background-color: rgba(250,250,250,1);
	margin-bottom: 15px;
	padding-right: 15px;
	border: 1px solid #e7e7e7;
    display: flex;
    overflow: hidden;
}

.prem-img{
    background-color: rgba(250,250,250,1);
}

.div-prem-btn{
    text-align: right;
    padding-bottom: 15px;
}