body{
	margin:0;
	color:#6a6f8c;
	font:600 16px/18px 'Open Sans',sans-serif;
}

*,:after,:before{box-sizing:border-box}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}

.error-icon {
    margin-top: -6px;
    width: 32px;
    height: 32px;
}

a, a:hover{
	color:inherit;
	text-decoration:none;
}

.login-wrap{
	width:525px;
	margin:auto;
	/*max-width:525px;*/
	height: 535px; /* 535 665 */
	position:relative;
	transition: height .50s;
	box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}
.login-html{
	width:100%;
	height:100%;
	position:absolute;
	padding: 30px 70px 50px 70px;
	background:rgba(38, 50, 56, .85);
}

.option-tabs {
	text-align: center;
	margin-bottom: 14px;
}

.login-html .sign-in-htm,
.login-html .sign-up-htm,
.login-html .forgot-htm {
	top:0;
	left:0;
	right:0;
	bottom:0;
	position: absolute;
	transition: opacity 1.5s;
}

.sign-in-htm {
	opacity:1;
	z-index: 1;
}

.sign-up-htm,
.forgot-htm {
	opacity:0;
	z-index: -1;
}

.login-html .sign-in,
.login-html .sign-up {
	display:none;
}
.login-html .tab{
	text-transform:uppercase;
}
.login-html .tab{
	font-size:22px;
	margin-right:15px;
	padding-bottom:5px;
	margin:0 15px 10px 0;
	display:inline-block;
	border-bottom:2px solid transparent;
}
.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab{
	color:#fff;
	border-color:#00acc1;
}
.login-form{
	min-height:345px;
	position:relative;
	-webkit-perspective:1000px;
	        perspective:1000px;
	-webkit-transform-style:preserve-3d;
	        transform-style:preserve-3d;
}

.custom-hr{
	max-width: 20%;
    border-color: rgba(255,255,255,.45);
    border-width: 2px;
	margin: 50px auto 40px auto;
}

.foot-lnk{
	text-align:center;
}

#loader {
   position: absolute;
   top: 25%;
   left: 50%;
   width: 64px;
   height: 64px;
   margin-top: -32px; /* Half the height */
   margin-left: -32px; /* Half the width */
}

/* Logo Tec */

#logoTec {
	display: block;
    margin: 0 auto;
	max-width: 230px;
	padding: 0px 0px 30px 0px;
}

/* Video Youtube Fondo */

* { box-sizing: border-box; }
.video-background {
  background: #000;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -99;
}
.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
#vidtop-content {
	top: 0;
	color: #fff;
}

@media (min-aspect-ratio: 16/9) {
  .video-foreground { height: 300%; top: -100%; }
}
@media (max-aspect-ratio: 16/9) {
  .video-foreground { width: 300%; left: -100%; }
}

/* Interactive label + input */

.int-input{
	padding-top: 10px !important;
}

.int-group {
	margin-bottom: 30px;
}

.int-label {
  position: absolute;
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
  left: 13px;
  color: rgba(255, 255, 255, 0.8);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size: 20px;
}
.int-label .req {
  margin: 2px;
  color: #00acc1;
}

.int-label.active {
  -webkit-transform: translateY(-11px);
          transform: translateY(-11px);
  left: 2px;
  font-size: 14px;
}

.int-label.active .req {
  opacity: 0;
}

.int-input, textarea {
  font-size: 22px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  background: none;
  background-image: none;
  border: 1px solid #a0b3b0;
  color: #ffffff;
  border-radius: 0;
  -webkit-transition: border-color .25s ease, box-shadow .25s ease;
  transition: border-color .25s ease, box-shadow .25s ease;
}

.int-input:focus, textarea:focus {
  outline: 0;
  border-color: #00acc1;
}