    /* Master y CSS general*/

    h1, h2, h3 {
        color: rgb(0,0,139);
    }

    p {
        color: black;
    }

    .appLabel {
        color: rgb(51, 130, 198);
        font-weight: bold;
    }

    #MasterContent {
        margin-bottom:90px;
        padding-left: 120px;
        padding-right: 120px;
    }

    .navbar {
        padding: 10px 120px 0 120px;
        background: white;

        -webkit-box-shadow: 0px 13px 9px -9px rgba(0,0,0,0.24);
        -moz-box-shadow: 0px 13px 9px -9px rgba(0,0,0,0.24);
        box-shadow: 0px 13px 9px -9px rgba(0,0,0,0.24);
    }

    .navbar-text {
        margin-top: 2px;
        margin-bottom: 2px;
        width: inherit;
        color: darkblue !important;
    }

    .logoTec {
        margin-right: 10px;
        margin-left: -5px;
    }

    .logoPremios {
        margin-right: 50px;
    }

    #LogoutBttn, #LogoutJuezBttn, #LogoutAdminBttn {
        background-color: rgb(51, 130, 198);
        color: white;
        border-radius: 4px;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
        box-shadow: none;
        border: none;
        padding: 4px 8px 4px 8px;
        margin-top: 10px;
    }

    #Footer {
        -webkit-box-shadow: 0px -7px 9px -9px rgba(0,0,0,0.24);
        -moz-box-shadow: 0px -7px 9px -9px rgba(0,0,0,0.24);
        box-shadow: 0px -7px 9px -9px rgba(0,0,0,0.24);
    }

    #Footer .navbar-text {
        font-size: 11px;
    }
    
    #Footer, #Footer .container{
        height: 80px;
        padding: 5px;
    }

    /* Inicia CSS Crumbs de Mapa de Estados en InicioCandidato*/
    .crumbs ul li {
        display: block;
        float: left;
        background: #13167e;
        position: relative;
        margin: 0 10px 10px 0;
        
        padding: 11px 0 11px 0;

    }

    .crumbs ul li a {
        
            text-align: center;
            padding: 0 25px 0 35px;    
            font-size: 16px;            
	        
	        text-decoration: none;
	        color: #fff;
        }

    .crumbs ul li a::before {
	    content: "";  
	    border-top: 22px solid transparent;
	    border-bottom: 22px solid transparent;
	    border-left: 22px solid white;
	    position: absolute; left: 0; top: 0;
    }

    .crumbs ul li a::after {
	    content: "";
	    border-top: 22px solid transparent;
	    border-bottom: 22px solid transparent;
	    border-left: 22px solid #13167e;
	    position: absolute; right: -22px; top: 0; z-index: 1;
    }

    .crumbs ul li:first-child  {
	    border-top-left-radius: 10px; 
        border-bottom-left-radius: 10px;
    }

    .crumbs ul li:first-child a::before {
	    display: none; 
    }

    .crumbs ul li:last-child  {
	    border-top-right-radius: 10px; 
        border-bottom-right-radius: 10px;
    }

    .crumbs ul li:last-child a::after {
	    display: none; 
    } 

    .edoactual {
        background: rgb(51, 130, 198) !important;
    }

    .edoactual a::after {
        border-left: 22px solid rgb(51, 130, 198) !important;
    }


    /*CSS de Accordions*/
    .accordionContent {
        background-color: white;
        border: 2px solid darkblue;
        border-radius: 8px;
        border-top: none;
        padding: 10px;
    }

    .accordionContent > a {
        color: darkblue !important;
    }

    .accordionHeader {
        border: 1px solid black;
        background-color: white;
        padding: 3px 3px 3px 18px;
        margin-top: 5px;
        cursor: pointer;
        border-radius: 8px;
    }

    .accordionHeaderSelected {
        background-color: darkblue;
        padding: 3px 3px 3px 18px;
        margin-top: 5px;
        cursor: pointer;
        border-radius: 8px;
        color: white;
    }

    .imgHeader {
        width:100%;
        height: 180px;
    }

    .htmlEditor {
        padding-bottom:15px;
    }

    .convocatoriaTitle {
        display:block;
        font: bold;
        font-size:large;
    }

    /* CSS Paginas Iniciales: Inicio, Registro, Recuperar contraseña, Confirmar cuenta*/
    .paginasIniciales h2, .contentpaginasiniciales h3 {
        color: white;
        margin: 5px 5px 5px 5px;
        margin-top: 30px;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    }

    .contentpaginasiniciales {
        text-align:center;

        background-image: url('../img/fondotecazul2.jpg');
        background-color: cornflowerblue;
        padding-top: 5%;

        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        overflow: auto;

    }

    .contentpaginasiniciales .logoiniciales {
        text-align:center;
        margin-bottom: 10px;
    }

    .contentpaginasiniciales .textboxiniciales {
        padding: 5px 5px 5px 5px;
        margin-bottom: 5px;
        color: darkblue;
    }
    
    .contentpaginasiniciales .labeliniciales {
        color:  darkblue;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
        margin: 5px 5px 5px 5px;
    }


    .contentpaginasiniciales .linkiniciales {
        color: white;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    }

    /*CSS de la mayoria de los botones*/
    #ContentPlaceHolderBody_EditarBtn, #ContentPlaceHolderBody_EnviarBtn, #ContentPlaceHolderBody_EnviarBttn, 
    .contentpaginasiniciales .buttoniniciales, #ContentPlaceHolderBody_ExportarBttn {
        background-color: darkblue;
        color: white;
        border-radius: 4px;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
        box-shadow: none;
        border: none;
        padding: 4px 8px 4px 8px;
    }

    #ContentPlaceHolderBody_EnviarBtn:disabled {
        visibility:hidden;
    }

    #ContentPlaceHolderBody_EnviarBtn:enabled {
        visibility:visible;
    }

    /*CSS de Lista Premios*/
    .premioPanel{
            width: 300px;
            height: 180px;
            display:inline-block;
            border-style: solid;
            border-width:3px;
            margin-right:10px;
            margin-bottom:10px;
            border-color: rgb(51, 130, 198);
        }
        .premioLabel{
            text-align:center;
        }
        .premioImgButton{
            width:100%;
            height:100%;
        }

        /*Premio Especifico Candidato*/
        .ApplicationButton{
            border-radius:5px;
        }

        /*Premio Especifico Admin*/
        /*Pop ups*/
        #ContentPlaceHolderBody_pnlPopup, #ContentPlaceHolderBody_pnlPopupAccept{
            border: 1px solid white;
            border-radius: 12px;
            background-color: darkblue;
            text-align:center;
            padding: 10px 10px 10px 10px;
        }

        #ContentPlaceHolderBody_headerRechazo, #ContentPlaceHolderBody_headerAceptar {
            color: white;
            font-weight: bold;
            font-size: 16px;
            margin-bottom: 5px;
        }

        .popuptext {
            color: white;
        }

        #ContentPlaceHolderBody_razonTB {
            border-radius: 4px;
            margin-bottom: 10px;
        }

        #ContentPlaceHolderBody_btnHideR, #ContentPlaceHolderBody_bttnEnviarRechazo, #ContentPlaceHolderBody_btnHideA, #ContentPlaceHolderBody_bttnAceptarAplicacion {
            background-color: darkblue;
            border: 1px solid white;
            border-radius: 4px;
            color: white;
        }

        #ContentPlaceHolderBody_TabContainer1 a {
            color: white;
        }

        #ContentPlaceHolderBody_TabContainer1_body {
            padding: 20px 20px 20px 20px;
        }

        .ajax__tab {
            background-color: darkblue;
            border: 1px solid #999999;
            border-radius: 8px 8px 0px 0px;
            border-bottom:none;
            color: darkblue !important;
        } 
        
        .ajax__tab_active {
            background-color: white;
        }

        .ajax__tab_xp .ajax__tab_header .ajax__tab_active .ajax__tab_outer > a,
        .ajax__tab_xp .ajax__tab_header .ajax__tab_active .ajax__tab_inner > a{
            color: darkblue !important;
         }

        .ajax__tab_xp .ajax__tab_header .ajax__tab_tab, .ajax__tab_xp .ajax__tab_header .ajax__tab_outer, .ajax__tab_xp .ajax__tab_header .ajax__tab_inner,
        .ajax__tab_xp .ajax__tab_header .ajax__tab_active .ajax__tab_tab, .ajax__tab_xp .ajax__tab_header .ajax__tab_active .ajax__tab_outer,
        .ajax__tab_xp .ajax__tab_header .ajax__tab_active .ajax__tab_inner {
            background-image: none !important;
        }

        /*Botones en secciones del panel*/
        #ContentPlaceHolderBody_TabContainer1_ConvocatoriaActualTab_EditarConvocatoriaActualBttn, #ContentPlaceHolderBody_TabContainer1_ConvocatoriaActualTab_GuardarCambiosBttn,
        #ContentPlaceHolderBody_TabContainer1_ConvocatoriaActualTab_CancelarCambiosBttn, #ContentPlaceHolderBody_TabContainer1_ConvocatoriaNuevaTab_GuardarNuevaBttn  {
            background-color: darkblue;
            color: white;
            border-radius: 4px;
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
            box-shadow: none;
            border: none;
            padding: 4px 8px 4px 8px;
            margin-top: 10px;
        }

        .accordionContent > a {
        color: darkblue !important;
        margin-left: 10px;
        margin-right: 10px;
        }